[submodule "magicComments"]
	path = magicComments
	url = https://github.com/antoniomacri/texworks-magiccomments
[submodule "logparser"]
	path = logparser
	url = https://github.com/antoniomacri/texworks-logparser
